/* Imported Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
    font-family: inter, sans-serif;
}

.chat-body {
    scrollbar-width: thin;
    scrollbar-color: #5350c4 transparent;
}

.user-message {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.chat-body .bot-message .thinking-indicator .dot {
    animation: dotPulse 1.8s ease-in-out infinite;
    opacity: 0.7;
}

.chat-body .bot-message .thinking-indicator .dot:nth-child(1) {
    animation-delay: 0.2s;
}

.chat-body .bot-message .thinking-indicator .dot:nth-child(2) {
    animation-delay: 0.3s;
}

.chat-body .bot-message .thinking-indicator .dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes dotPulse {
    0%, 44% {
        transform: translateY(0);
    }

    28% {
        opacity: 0.4;
        transform: translateY(-4px);
    }

    44% {
        opacity: 0.2;
        /* transform: translateY(-4px); */
    }
}

/* cancel uploaded image */
.chat-form .file-upload-wrapper :where(img, button) {
    position: absolute;
}

#file-cancel {
    position: absolute;
}

.uploaded-img {
    display: none;
}

.chat-form .file-upload-wrapper :where(img, #file-cancel),
.file-uploaded #file-upload {
    display: none;
}

.file-uploaded .uploaded-img,
.chat-form .file-upload-wrapper.file-uploaded:hover #file-cancel {
    display: block;
}

em-emoji-picker {
    position: absolute;
    left: 50%;
    top: -337px;
    width: 100%;
    max-width: 350px;
    max-height: 330px;
    transform: translateX(-50%);

    visibility: hidden;
}

body.show-emoji-picker em-emoji-picker {
    visibility: visible;
}